/* ----DEFAULT ELEMENT STYLING START---- */
html {
  /* Positioning */
  position: relative;

  /* Box-model */
  min-height: 100%;
}


p {
  font-size: 20px;
}
body {

  background: repeating-linear-gradient(
    45deg,
  #f8f8e9,
  #eede05 15px,
  rgb(30, 90, 139) 5px,
  #f8f8e9 20px
  );

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Media query for body */
@media only screen and (max-width: 767px) {
  /* Set background color to white on small screens */
  body {
    /* Visual */
    background-color: #fff;
  }
}

/* ----DEFAULT ELEMENT STYLING END---- */

/* ----NAV START---- */
.navbar-custom {
  background-color: rgb(30, 90, 139);
  /* background-color: white; */
}


.navbar-right-custom {
  /* Box-model */
  padding-top: 6px;
  padding-right: 20px;

  /* Typography */
  font-family: Arial;
  font-weight: lighter;
}

/* Nav element hover state */
.navbar-default .navbar-nav > li > a:hover {
  color: #4aaaa5;
}

/* Media query for nav */
@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: #4aaaa5;
  }

  #logo {
    width: 100%;

    /* Box-model */
    height: 60px;
    padding-top: 20px;
    padding-bottom: 5px;

    /* Positioning */
    margin-left: 0;
    font-family: Georgia, Times, "Times New Roman", serif;

    /* Typography */
    font-size: 24px;
    font-weight: bold;
    color: #fff;

    /* Visual */
    background: rgb(30, 90, 139);;
  }
}

/* -----NAV END---- */

/* ----DESCRIPTION START---- */
.description-header {
  /* Positioning */
  margin-bottom: 33px;
  font-family: Georgia, Times, "Times New Roman", serif;

  /* Typography */
  font-size: 32px;
  font-weight: bold;
  color: rgb(30, 90, 139);;
}

.description-content {
  /* Box-model */
  padding: 30px;

  /* Positioning */
  margin-top: 32px;

  /* Visual */
  background-color: #fff;
}

.description-content > p {
  /* Box-model */
  padding-top: 20px;

  /* Typography */
  font-size: 16px;
  line-height: 30px;
  color: slategray;
}

.description-text {
  padding-bottom: 20px;
}

#description-image {
  /* Positioning */
  float: left;

  /* Box-model */
  width: 200px;
  height: 200px;
  margin-top: 32px;
  margin-right: 20px;
}

/* Description content media query */
@media only screen and (max-width: 767px) {
  /* override default class styling for positioning/padding */

  .description-content {
    /* Box-model */
    padding: 0;

    /* Positioning */
    margin-top: 0;
  }
}

/* ----DESCRIPTION END---- */

/* ----IMAGE NAV START---- */
#imageNav-area {
  width: 100%;

  /* Box-model */
  padding: 30px 30px 43px;

  /* Positioning */
  margin-top: 32px;

  /* Visual */
  background-color: #fff;
}

.imageNav-header {
  /* Positioning */
  margin-bottom: 15px;
  font-family: Georgia, Times, "Times New Roman", serif;

  /* Typography */
  font-size: 25px;
  font-weight: bold;
  color: rgb(30, 90, 139);;
}

.imageNav-photo {
  width: 140px;

  /* Box-model */
  height: 140px;
}

.imageNav-photo:hover {
  /* Visuals */
  opacity: 0.6;
}

.imageNav-photo.active {
  /* Visuals */
  border: 2px solid rgb(30, 90, 139);;
}

#images {
  /* Box-model */
  padding-top: 15px;

  /* Typography */
  text-align: center;
}

/* ----IMAGE NAV END---- */

/* ----COMPARISON START---- */
.comparison-image:hover {
  opacity: 0.6;
}

.comparison-header {
  /* Positioning */
  margin-bottom: 10px;
  font-family: Georgia, Times, "Times New Roman", serif;

  /* Typography */
  font-size: 20px;
  font-weight: bold;
  color: rgb(30, 90, 139);;
  text-align: center;
}

/* ----COMPARISON END---- */

/* ----FOOTER START---- */
.footer {
  /* Positioning */
  position: absolute;
  bottom: 0;

  /* Box-model */
  width: 100%;
  height: 60px;
  margin-top: 30px;

  /* Visual */
  background-color: #666;
}

.text-muted-footer {
  /* Positioning */
  margin-top: 15px;

  /* Typography */
  color: #fff;
}

.two-toned-footer-color {
  /* Box-model */
  height: 6px;
  padding-top: 3px;

  /* Visual */
  background-color: rgb(30, 90, 139);;
}

.filters {
  margin-top: 32px;;
}
/* ----FOOTER END---- */
